<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.cse535.smartalarmapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".SensorandAlarm.SensorDataReceiver"
            android:label="@string/action_settings"
            android:process=":remote" >
        </receiver>

        <service
            android:name=".sleep.OnSleepService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".SleepChartActivity"
            android:label="@string/title_activity_sleep_chart" >
        </activity>

        <service
            android:name=".SensorandAlarm.GatherSensorData"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".SensorandAlarm.RepeatSensorServiceReceiver"
            android:label="@string/title_activity_repeat_sensor_service_receiver"
            android:process=":remote"
            android:theme="@style/AppTheme.NoActionBar" >
        </receiver>

        <service
            android:name=".SensorandAlarm.SetAlarmService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".SensorandAlarm.SetAlarmReceiver"
            android:process=":remote" >

            <!-- define android:process=":remote" so that the BroadcastReceiver will run in a separate process -->
            <!-- so that it will continue to stay alive if the app has closed. -->
        </receiver>

        <service
            android:name=".SensorandAlarm.GatherDataAsyncTask"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".SensorandAlarm.SetAlarmActivity"
            android:label="@string/title_activity_set_alarm" >
        </activity>
    </application>

</manifest>
